
.form-control {
 background-color: #49484D;
 color: white;
}
.main-Title {
    color: #49484D;
    font-size: 36px;
}
.Secondary-title{
    color:#E12523; 
    font-size: 26px;
}
.subtitle {
    font-weight:bold;
}
    @media {
        .resize {
            width: 700px;
    }
}
    .myContainer {
        padding-left: 150px;
        padding-right: 50px;
    }
    .ui-grid-viewport {
    height: auto !important;
}

    input {
        background-color: #49484D !important;
        color: white !important;
    }
.formly-field-inlineCheckboxes {
    padding-left: 20px !important;
}

select {
 background-color: #49484D;
    color: white;
}
.hrRed {
    border-width: 10px;
    border-color: red;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
select[multiple], select[size] {
 height: 200px;
}
/* messages fanciness */
.my-messages {
  position: relative;
}

.my-messages, .some-message {
  opacity: 1;
  transition: .3s linear all;
}

.some-message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
}

.my-messages.ng-enter.ng-enter-active,
.some-message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.my-messages.ng-enter,
.some-message.ng-enter {
  opacity: 0;
  top: -10px;
}

.my-messages.ng-leave,
.some-message.ng-leave {
  opacity: 1;
  top: 0;
}

.my-messages.ng-leave-active,
.some-message.ng-leave-active {
  opacity: 0;
  top: -10px;
}

@media print {
    body,html, #printView {
        margin: 0; padding: 0;
        display: block;
        width:100%;
    }
}
    /*Checkbox styling*/
    
/*.checkbox input[type="checkbox"]:checked + label::after, .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    border: 2px solid black;
    background-color: #004488;
    opacity: 0.85;
    width: 22px;
    height: 22px;
    color: white;
}
.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after {
    color: white
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  margin-left: -20px;
  border: 2px solid #004488;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.6s ease-in-out, color 0.6s ease-in-out;
  -o-transition: border 0.6s ease-in-out, color 0.6s ease-in-out;
  transition: border 0.6s ease-in-out, color 0.6s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}*/


