
.form-control {
 background-color: #c9c9c9;
 color: black;
}

.viewLabel {
  font-weight: bold!important;
}

.viewSep {
   margin-left: 5px;
}
.viewAnswer: {
  color: red!important;	
}
.main-Title {
    color: #49484D;
    font-size: 36px;
}
.Secondary-title{
    color:#E12523; 
    font-size: 26px;
}
.subtitle {
    font-weight:bold;
}
    @media {
        .resize {
            width: 700px;
    }
}
    .myContainer {
        padding-left: 50px;
        padding-right: 50px;
    }
    .ui-grid-viewport {
    height: auto !important;
}

    input {
        background-color: #c9c9c9 !important;
        color: black !important;
	border: 1px solid #999;
    }
.formly-field-inlineCheckboxes {
    padding-left: 20px !important;
}

select {
    background-color: #C9C9C9;
    color: black;
    border: 1px solid #999;
}
.hrRed {
    border-width: 10px;
    border-color: red;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 5px;
}
select[multiple], select[size] {
 height: 200px;
}
/* messages fanciness */
.my-messages {
  position: relative;
}

.my-messages, .some-message {
  opacity: 1;
  transition: .3s linear all;
}

.some-message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
}

.my-messages.ng-enter.ng-enter-active,
.some-message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.my-messages.ng-enter,
.some-message.ng-enter {
  opacity: 0;
  top: -10px;
}

.my-messages.ng-leave,
.some-message.ng-leave {
  opacity: 1;
  top: 0;
}

.my-messages.ng-leave-active,
.some-message.ng-leave-active {
  opacity: 0;
  top: -10px;
}

@media print {

    body,html {
        position: absolute;
        margin: 0 0 0 0; 
        padding: 0 0 0 0;
        display: block;
        width: 100%;
        height: 99%;            
        page-break-after: avoid;         
        page-break-before: avoid;
    }
    #printView {
        position:absolute;
    }
}

#siteIcon, .ms-breadcrumb-box, #DeltaPlaceHolderSearchArea, #sideNavBox {
    display: none;
    width: 0;
    height: 0;
}

#contentBox {
    margin-left: 2%;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox-inline input[type=radio] {
    border-radius: 50px!important;
}
 
.radio input[type=radio]:checked+label::before, .checkbox-inline input[type=radio]:checked+label::before  {
 border-color: black;
}

.checkbox-inline input[type="checkbox"]:checked + label::after{
    font-family: "Font Awesome\ 5 Free";
    content: "\f00c";
    font-weight: 900!important;
    opacity: 0.85;
    width: 17px;
    height: 17px;
    color: white;
}
.checkbox-inline input[type="checkbox"]:checked + label::before {
    background-color: #E12523;
    border-color: #49484D;
}

.checkbox-inline label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  border: 2px solid #E15253;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 1.15s ease-in-out, color 1.15s ease-in-out, background-color 1.15s ease-in-out;
  -o-transition: border 1.15s ease-in-out, color 1.15s ease-in-out, background-color 1.15s ease-in-out;
  transition: border 1.15s ease-in-out, color 1.15s ease-in-out, background-color 1.15s ease-in-out;
}

.checkbox-inline label::after {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 1px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
  }

.checkbox-inline input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox-inline input[type="checkbox"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox-inline input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox-inline input[type="checkbox"]:disabled + label::before{
  background-color: #eeeeee;
  cursor: not-allowed;
}

.radio label::before, .checkbox-inline input[type=radio] label::before {
 border: 2px solid #E12523;
 -webkit-trasnsition: border 2s ease-in-out;
 -o-transition: border 2s ease-in-out;
 transition: border 2s ease-in-out;
 border-radius: 50px!important;
}

.radio label::after, .checkbox-inline input[type=radio] label::after {
 border-radius: 50px!important;
 background-color:#E12523;
 -webkit-transform: scale(0,0);
 -ms-transform: scale(0);
 -o-transform: scale(0,0);
 transform: scale(0);
 -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 -moz-transition: -moz-transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 -o-transition: -o-transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 transition:  transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
}

#s4-workspace {
	position: relative;
}
#s4-bodyContainer {
	position: absolute;
}

/**
 * @lordfriend/nya-bootstrap-select v2.5.1
 * Copyright 2014 Nyasoft
 * Licensed under MIT license
 */
.nya-bs-select {
  /*width: 220px\9; IE8 and below*/
  width: 220px \0;
  /*IE9 and below*/
  padding: 0;
  margin: 0;
}
.nya-bs-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}
.nya-bs-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.nya-bs-select.form-control:not([class*="col-"]) {
  width: 100%;
}
.nya-bs-select .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
}
.nya-bs-select .dropdown-toggle .filter-option,
.nya-bs-select .dropdown-toggle .special-title {
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.nya-bs-select .dropdown-toggle .filter-option {
  display: inline-block;
}
.nya-bs-select .dropdown-toggle .special-title {
  display: none;
}
.nya-bs-select .dropdown-toggle.show-special-title .filter-option {
  display: none;
}
.nya-bs-select .dropdown-toggle.show-special-title .special-title {
  display: inline-block;
}
.nya-bs-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.nya-bs-select.fit-width {
  width: auto !important;
}
.nya-bs-select.btn-group:not(.input-group-btn),
.nya-bs-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.nya-bs-select.btn-group.dropdown-menu-right,
.nya-bs-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .nya-bs-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.nya-bs-select.btn-group[class*="col-"] .btn {
  width: 100%;
}
.nya-bs-select.btn-group .dropdown-menu {
  min-width: 100%;
  z-index: 1035;
  box-sizing: border-box;
}
.nya-bs-select.btn-group .dropdown-menu.inner {
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.nya-bs-select.btn-group .dropdown-menu li {
  position: relative;
}
.nya-bs-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.nya-bs-select.btn-group .dropdown-menu li.not-match {
  display: none;
}
.nya-bs-select.btn-group .dropdown-menu li.no-search-result {
  display: none;
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
}
.nya-bs-select.btn-group .dropdown-menu li.no-search-result.show {
  display: list-item;
}
.nya-bs-select.btn-group .dropdown-menu li.group-item a {
  padding-left: 2.25em;
}
.nya-bs-select.btn-group .dropdown-menu li a {
  cursor: pointer;
}
.nya-bs-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.nya-bs-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.nya-bs-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.nya-bs-select.btn-group .dropdown-menu li.selected a .check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 5px;
}
.nya-bs-select.btn-group .dropdown-menu li a span.text {
  margin-right: 34px;
}
.nya-bs-select.btn-group .dropdown-menu li .dropdown-header {
  display: none;
}
.nya-bs-select.btn-group .dropdown-menu li.first-in-group {
  margin-top: 1.75em;
}
.nya-bs-select.btn-group .dropdown-menu li.first-in-group .dropdown-header {
  display: block;
  position: absolute;
  top: -1.75em;
  left: 0;
}
.nya-bs-select.show-menu-arrow.open > .btn {
  z-index: 1036;
}
.nya-bs-select.show-menu-arrow .dropdown-toggle:before {
  content: " ";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.nya-bs-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.nya-bs-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-bottom: 0;
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: rgba(204, 204, 204, 0.2);
}
.nya-bs-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.nya-bs-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}
.nya-bs-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}
.nya-bs-select.show-menu-arrow.open > .dropdown-toggle:before,
.nya-bs-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.nya-bs-select .bs-searchbox,
.nya-bs-select .bs-actionsbox {
  padding: 4px 8px;
}
.nya-bs-select .bs-actionsbox {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.nya-bs-select .bs-actionsbox .btn-group button {
  width: 50%;
}
.nya-bs-select .bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.nya-bs-select .bs-searchbox input.form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
  z-index: inherit;
  display: block;
  position: static;
  border-radius: 4px;
}
.nya-bs-select.fit-width .btn .filter-option,
.nya-bs-select.fit-width .btn .special-title {
  position: static;
}
.nya-bs-select.fit-width .btn .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.nya-bs-select.on-modal .dropdown-menu {
  z-index: 1040;
}
.nya-bs-select.on-modal.open > .btn {
  z-index: 1041;
}

.ms-webpart-chrome-title {
    vertical-align: middle;
    position: relative;
    margin-bottom: 2px;
    height: 0px;
    visibility: hidden;
}

#s4-titlerow {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 19px;
    padding-bottom: 8px;
    height: 0px;
}

/* added by CPAPA */

/*@media all and (min-width:768px)*/
.navbar-right {
    float: right !important;
    margin-right: 10px;
}

.ms-rtestate-field p, p.ms-rteElement-P {
    margin: 10px 0px 10px 0px;
    line-height: 1;
}

.panel-primary > .panel-heading {
    color: white;
    background-color: #666;
    border-color: #666;
}

.panel-primary {
    border-color: #666;
}

.btn-primary {
    color: #fff;
    background-color: #666;
    border-color: #444;
}

.btn-primary:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

.focus.btn-default, .btn-default:focus {
    color: #333;
    background-color: #666;
    border-color: #444;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ff0000;
    border-color: #122b40;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #122b40;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
