
.form-control {
 background-color: #49484D;
 color: white;
}
.main-Title {
    color: #49484D;
    font-size: 36px;
}
.Secondary-title{
    color:#E12523; 
    font-size: 26px;
}
.subtitle {
    font-weight:bold;
}
    @media {
        .resize {
            width: 700px;
    }
}
    .myContainer {
        padding-left: 150px;
        padding-right: 50px;
    }
    .ui-grid-viewport {
    height: auto !important;
}

    input {
        background-color: #49484D !important;
        color: white !important;
    }
.formly-field-inlineCheckboxes {
    padding-left: 20px !important;
}

select {
 background-color: #49484D;
    color: white;
}
.hrRed {
    border-width: 10px;
    border-color: red;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 5px;
}
select[multiple], select[size] {
 height: 200px;
}
/* messages fanciness */
.my-messages {
  position: relative;
}

.my-messages, .some-message {
  opacity: 1;
  transition: .3s linear all;
}

.some-message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
}

.my-messages.ng-enter.ng-enter-active,
.some-message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.my-messages.ng-enter,
.some-message.ng-enter {
  opacity: 0;
  top: -10px;
}

.my-messages.ng-leave,
.some-message.ng-leave {
  opacity: 1;
  top: 0;
}

.my-messages.ng-leave-active,
.some-message.ng-leave-active {
  opacity: 0;
  top: -10px;
}

@media print {

    body,html {
        position: absolute;
        margin: 0 0 0 0; 
        padding: 0 0 0 0;
        display: block;
        width: 100%;
        height: 99%;            
        page-break-after: avoid;         
        page-break-before: avoid;
    }
    #printView {
        position:absolute;
    }
}

#siteIcon, .ms-breadcrumb-box, #DeltaPlaceHolderSearchArea, #sideNavBox {
    display: none;
    width: 0;
    height: 0;
}

#contentBox {
    margin-left: 2%;
}

.radio input[type=radio], .radio-inline input[type=radio] {
    border-radius: 50px;
}
 
.radio input[type=radio]:checked+label::before {
 border-color: black;
}
.checkbox-inline input[type="checkbox"]:checked + label::after, .checkbox-inline input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    opacity: 0.85;
    width: 17px;
    height: 17px;
    color: white;
}
.checkbox-inline input[type="checkbox"]:checked + label::before {
    background-color: #E12523;
    border-color: #49484D;
}

.checkbox-inline label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 1.15s ease-in-out, color 1.15s ease-in-out, background-color 1.15s ease-in-out;
  -o-transition: border 1.15s ease-in-out, color 1.15s ease-in-out, background-color 1.15s ease-in-out;
  transition: border 1.15s ease-in-out, color 1.15s ease-in-out, background-color 1.15s ease-in-out;
}
.checkbox-inline label::after {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
  }

.checkbox-inline input[type="checkbox"]:focus + label::before,
.checkbox-inline input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox-inline input[type="checkbox"]:indeterminate + label::after,
.checkbox-inline input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox-inline input[type="checkbox"]:disabled + label,
.checkbox-inline input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox-inline input[type="checkbox"]:disabled + label::before,
.checkbox-inline input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.radio label::before {
 border: 2px solid #cccccc;
 -webkit-trasnsition: border 2s ease-in-out;
 -o-transition: border 2s ease-in-out;
 transition: border 2s ease-in-out;
}

.radio label::after {
 background-color:#E12523;
 -webkit-transform: scale(0,0);
 -ms-transform: scale(0);
 -o-transform: scale(0,0);
 transform: scale(0);
 -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 -moz-transition: -moz-transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 -o-transition: -o-transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 transition:  transform 0.75s cubic-bezier(0.8,-0.33,0.2,1.33);
 
}
